/* LOADING SPINNER */
.loading-spinner {
  width: 60px;
  height: 60px;
  margin: 0 auto 16px;

  border: 4px solid #e5e7eb;
  border-top: 4px solid #ff7a00;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* TEXTO EXTRA */
.success-tip {
  font-size: 13px;
  color: var(--muted);
  margin-bottom: 16px;
}