.main-footer {
  width: 100%;
  height: 60px;
  background: #2a2a2a;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-top: 40px;
}

.main-footer p {
  font-size: 14px;
  color: #cccccc;
}

/* MOBILE */
@media (max-width: 768px) {
  .main-footer {
    height: 70px;
    font-size: 13px;
  }
}
